In [4]:
i=10
if i<5:
    print("i is less than 5")
elif i<8:
    print("i is less than 8")
else:
    print("big no")

big no

In [5]:
i=10
name="kishan"
if i==10:
    if type(name)==str:
        print("my name is ",name)
    else:
        print("default inner")
else:
    print("default outer")

my name is  kishan

In [7]:
l=[1,2,3,4,5,6,"kishan","kumar","Xyz"]

In [9]:
for i in l:
    print(i)

1
2
3
4
5
6
kishan
kumar
Xyz

In [11]:
for i in l:
    if type(i)==str:
        print(i)

kishan
kumar
Xyz

In [12]:
m=[]
for i in l:
    m.append(i)

In [13]:
m

[1, 2, 3, 4, 5, 6, 'kishan', 'kumar', 'Xyz']

In [16]:
m=0
for i in l:
    if type(i)== int:
        m+=i

In [17]:
m

21

In [18]:
for i in "kishan kumar":
    print(i)

k
i
s
h
a
n

k
u
m
a
r

In [19]:
l=[4,4,5,6]

for i in l:
    print(i)
else:
    print("This is for else block")

4
4
5
6
This is for else block

In [20]:
l=[4,4,5,6]

for i in l:
    if i==6:
        break
    print(i)
else:
    print("This is for else block")

4
4
5

In [22]:
s="Sudh Kumar"

for i in s:
    if i =="K":
        continue
    print(i)
else:
    print("This is for else block")

S
u
d
h

u
m
a
r
This is for else block

In [23]:
range(6)

range(0, 6)

In [24]:
range(1,6)

range(1, 6)

In [25]:
type(range(1,6))

range

In [26]:
X=range(1,6)

In [29]:
list(range(1,6,2))

[1, 3, 5]

In [31]:
l=[5,6,7,4,4,6,"Sudh","Kumar"]

In [33]:
for i in range(len(l)):
    print(l[i])

5
6
7
4
4
6
Sudh
Kumar

In [34]:
#taking a input from user

In [35]:
input()

kishan kumar

'kishan kumar'

In [38]:
a=input("Enter your name and age")

Enter your name and agekishna 2347

In [40]:
type(a)

str

In [1]:
a=int(input("Enter your age"))

Enter your age28

In [2]:
type(a)

int

In [3]:
s="hello world"

In [5]:
s.upper()

'HELLO WORLD'

In [6]:
s.lower()

'hello world'

In [7]:
s.split()

['hello', 'world']

In [8]:
s.split(sep="o")

['hell', ' w', 'rld']

In [9]:
#String format function

In [10]:
"my name is {}.my age is {}.".format("kishan","23")

'my name is kishan.my age is 23.'

In [1]:
s="hello world"
l=[]
l1=[]
for i in range(len(s)):
    if s[i]=='l':
        l.append(i)
        l1.append(s[i])

In [2]:
l

[2, 3, 9]

In [3]:
l1

['l', 'l', 'l']

In [5]:
s

'hello world'

In [6]:
s.center(40,"v")

'vvvvvvvvvvvvvvhello worldvvvvvvvvvvvvvvv'

In [11]:
s="hello"

In [12]:
s.isalnum()

True

In [13]:
s.isalpha()

True

In [10]:
s.isspace()

False

In [14]:
"kishan"*3

'kishankishankishan'

In [15]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [16]:
l=[1,2,3,4,5,67,8,"sudh"]

In [17]:
l.append("kumar")

In [18]:
l

[1, 2, 3, 4, 5, 67, 8, 'sudh', 'kumar']

In [19]:
l.insert(3,"pop")

In [20]:
l

[1, 2, 3, 'pop', 4, 5, 67, 8, 'sudh', 'kumar']

In [24]:
l.pop()

'kumar'

In [25]:
l

[1, 2, 3, 'pop', 4, 5, 67, 8, 'sudh']

In [26]:
l.pop(3)

'pop'

In [27]:
l

[1, 2, 3, 4, 5, 67, 8, 'sudh']

In [28]:
l[::-1]

['sudh', 8, 67, 5, 4, 3, 2, 1]

In [29]:
l

[1, 2, 3, 4, 5, 67, 8, 'sudh']

In [31]:
l.reverse()

In [32]:
l

['sudh', 8, 67, 5, 4, 3, 2, 1]

In [33]:
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [34]:
l.pop(0)

'sudh'

In [35]:
l

[8, 67, 5, 4, 3, 2, 1]

In [36]:
l.sort()

In [37]:
l

[1, 2, 3, 4, 5, 8, 67]

In [38]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l3=[6,5,7,8]

In [40]:
l=[l1,l2,l3]

k=[l[0][2],l[1][2],l[2][2]]

In [41]:
k

[3, 7, 7]

In [42]:
[i[2] for i in l ]

[3, 7, 7]

In [43]:
l1.append(k)

In [44]:
l1

[1, 2, 3, 4, [3, 7, 7]]

In [46]:
l2.extend(k)

In [47]:
l2

[5, 6, 7, 8, 3, 7, 7]

In [48]:
l=[2,3,4,56,76,6,2,3,4,4,2]

In [49]:
k=[i for i in l if i !=2 ]

In [50]:
k

[3, 4, 56, 76, 6, 3, 4, 4]

In [52]:
K=[ lambda i: i!=2 for i in l]

In [53]:
k

[3, 4, 56, 76, 6, 3, 4, 4]

In [54]:
list(range(40,10,-3))

[40, 37, 34, 31, 28, 25, 22, 19, 16, 13]

In [55]:
# animals list
animals = ['cat', 'dog', 'dog', 'guinea pig', 'dog']

# 'dog' is removed
animals.remove('dog')

# Updated animals list
print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'guinea pig', 'dog']

In [56]:
i=0
while i<len(l):
    if l[i]== 2:
        l.remove(2)
        i-=1

    if type(l[i]) == list:
        j=0
        while j<len(l[i]):
            if l[i][j] == 2:
                l[i].remove(2)
                j-=1
            j=j+1
    i += 1
print(l)

[3, 4, 56, 76, 6, 3, 4, 4]