In [ ]:
https://realpython.com/pandas-groupby/#pandas-groupby-putting-it-all-together

In [6]:
import pandas as pd

# Use 3 decimal places in output display
pd.set_option("display.precision", 3)

# Don't wrap repr(DataFrame) across additional lines
pd.set_option("display.expand_frame_repr", False)

# Set max rows displayed in output to 25
pd.set_option("display.max_rows", 25)

In [11]:
raw_data=pd.read_csv("legislators-historical.csv")

In [12]:
raw_data.columns

Index(['last_name', 'first_name', 'middle_name', 'suffix', 'nickname',
       'full_name', 'birthday', 'gender', 'type', 'state', 'district',
       'senate_class', 'party', 'url', 'address', 'phone', 'contact_form',
       'rss_url', 'twitter', 'facebook', 'youtube', 'youtube_id',
       'bioguide_id', 'thomas_id', 'opensecrets_id', 'lis_id', 'fec_ids',
       'cspan_id', 'govtrack_id', 'votesmart_id', 'ballotpedia_id',
       'washington_post_id', 'icpsr_id', 'wikipedia_id'],
      dtype='object')

In [13]:
df=raw_data[['last_name', 'first_name','birthday', 'gender', 'type', 'state','party']]

In [14]:
df.head()

  last_name  first_name    birthday gender type state                party
0   Bassett     Richard  1745-04-02      M  sen    DE  Anti-Administration
1     Bland  Theodorick  1742-03-21      M  rep    VA                  NaN
2     Burke     Aedanus  1743-06-16      M  rep    SC                  NaN
3   Carroll      Daniel  1730-07-22      M  rep    MD                  NaN
4    Clymer      George  1739-03-16      M  rep    PA                  NaN

In [15]:
df.describe()

       last_name first_name    birthday gender   type  state     party
count      11975      11975       11422  11975  11975  11975     11741
unique      5466       1541       10534      2      2     58        59
top        Smith       John  1818-10-08      M    rep     NY  Democrat
freq         126       1250           4  11741  10146   1461      5003